body{
    background-color: black;
}

h1{
    color:orange;
    text-align: center;
    font-size: 28px;
}

.subtitle {
    color:yellow;
    text-align: right;
    font-size: 22px;
}

h2{
    color: white;
    text-align: left;
    font-size: 40px;
}

.poker_img {
    display: block;
    margin-right: auto;
}